<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="ModelToDbContext"
         providerName="System.Data.SqlClient"
         connectionString="Server=.;Database=test;Trusted_Connection=true;" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient"
                type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="tcpBinding" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="tcpBehaviors">
          <serviceMetadata httpGetEnabled="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="domainBehaviors">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <!--以下是后台服务-->
      <!--管理员-->
      <service behaviorConfiguration="tcpBehaviors" name="zwg_china.service.backstage.AdministratorService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="tcpBinding"
                  contract="zwg_china.service.backstage.IAdministratorService" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://192.168.1.130:4512/AdministratorService" />
          </baseAddresses>
        </host>
      </service>
      <!--用户-->
      <service behaviorConfiguration="tcpBehaviors" name="zwg_china.service.backstage.AuthorService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="tcpBinding"
                  contract="zwg_china.service.backstage.IAuthorService" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://192.168.1.130:4512/AuthorService" />
          </baseAddresses>
        </host>
      </service>
      <!--用户相关的记录-->
      <service behaviorConfiguration="tcpBehaviors" name="zwg_china.service.backstage.RecordOfAuthorService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="tcpBinding"
                  contract="zwg_china.service.backstage.IRecordOfAuthorService" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://192.168.1.130:4512/RecordOfAuthorService" />
          </baseAddresses>
        </host>
      </service>
      <!--用户相关的设置-->
      <service behaviorConfiguration="tcpBehaviors" name="zwg_china.service.backstage.SettingOfAuthorService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="tcpBinding"
                  contract="zwg_china.service.backstage.ISettingOfAuthorService" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://192.168.1.130:4512/SettingOfAuthorService" />
          </baseAddresses>
        </host>
      </service>
      <!--彩票-->
      <service behaviorConfiguration="tcpBehaviors" name="zwg_china.service.backstage.LotteryService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="tcpBinding"
                  contract="zwg_china.service.backstage.ILotteryService" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://192.168.1.130:4512/LotteryService" />
          </baseAddresses>
        </host>
      </service>
      <!--交互信息-->
      <service behaviorConfiguration="tcpBehaviors" name="zwg_china.service.backstage.MessageService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="tcpBinding"
                  contract="zwg_china.service.backstage.IMessageService" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://192.168.1.130:4512/MessageService" />
          </baseAddresses>
        </host>
      </service>
      <!--报表-->
      <service behaviorConfiguration="tcpBehaviors" name="zwg_china.service.backstage.ReportService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="tcpBinding"
                  contract="zwg_china.service.backstage.IReportService" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://192.168.1.130:4512/ReportService" />
          </baseAddresses>
        </host>
      </service>
      <!--活动-->
      <service behaviorConfiguration="tcpBehaviors" name="zwg_china.service.backstage.ActicityService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="tcpBinding"
                  contract="zwg_china.service.backstage.IActicityService" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://192.168.1.130:4512/ActicityService" />
          </baseAddresses>
        </host>
      </service>
      <!--以上是后台服务-->
      <!--以下是前台服务-->
      <!--用户-->
      <service behaviorConfiguration="tcpBehaviors" name="zwg_china.service.client.AuthorService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="tcpBinding"
                  contract="zwg_china.service.client.IAuthorService" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://192.168.1.130:4511/AuthorService" />
          </baseAddresses>
        </host>
      </service>
      <!--用户相关的系统记录-->
      <service behaviorConfiguration="tcpBehaviors" name="zwg_china.service.client.RecordOfAuthorService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="tcpBinding"
                  contract="zwg_china.service.client.IRecordOfAuthorService" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://192.168.1.130:4511/RecordOfAuthorService" />
          </baseAddresses>
        </host>
      </service>
      <!--用户的推送-->
      <service behaviorConfiguration="tcpBehaviors" name="zwg_china.service.client.AuthorPushService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="tcpBinding"
                  contract="zwg_china.service.client.IAuthorPushService" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://192.168.1.130:4511/AuthorPushService" />
          </baseAddresses>
        </host>
      </service>
      <!--活动-->
      <service behaviorConfiguration="tcpBehaviors" name="zwg_china.service.client.ActicityService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="tcpBinding"
                  contract="zwg_china.service.client.IActicityService" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://192.168.1.130:4511/ActicityService" />
          </baseAddresses>
        </host>
      </service>
      <!--彩票-->
      <service behaviorConfiguration="tcpBehaviors" name="zwg_china.service.client.LotteryService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="tcpBinding"
                  contract="zwg_china.service.client.ILotteryService" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://192.168.1.130:4511/LotteryService" />
          </baseAddresses>
        </host>
      </service>
      <!--交互信息-->
      <service behaviorConfiguration="tcpBehaviors" name="zwg_china.service.client.MessageService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="tcpBinding"
                  contract="zwg_china.service.client.IMessageService" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://192.168.1.130:4511/MessageService" />
          </baseAddresses>
        </host>
      </service>
      <!--报表-->
      <service behaviorConfiguration="tcpBehaviors" name="zwg_china.service.client.ReportService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="tcpBinding"
                  contract="zwg_china.service.client.IReportService" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://192.168.1.130:4511/ReportService" />
          </baseAddresses>
        </host>
      </service>
      <!--以上是前台服务-->
      <!--跨域服务-->
      <service name="zwg_china.host.DomainService">
        <endpoint address="http://192.168.1.130:80" behaviorConfiguration="domainBehaviors" binding="webHttpBinding"
            contract="zwg_china.host.IDomainService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>